*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0px;
  border: 0;
}

body {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
  color: #001b44;
  height: 100vh;
}

header{
  width: 100%;
  height:10%;
}
nav{
  width: 100%;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
}
ul{
  width:20%;
  list-style: none;
  text-decoration: none;
}
li{
  margin:.5rem;
}
a{
  text-decoration: none;
}
.countDown{
  margin-right: 1rem;
  width:30%;
}
main{
  width: 100%;
  height:80%;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100%;
}
.quiz-start{
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100%;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}


.quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height:85%;
  padding: 2rem;
  width:30%;
  font-size: 1.1rem;
}

.question-card{
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.qs-options{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  height: 10%;
  padding: .5rem;
  font-size: 2.3rem;
}
#startBtn{
    background-color: purple;
    font-size: 1.2rem;
    color: white;
    border-radius: .3rem;
    padding: .4rem;
}
p{
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 80vw;
  }
}
